// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* Coolors Exported Palette - coolors.co/616163-44ffd2-87f6ff-daf5ff-ffbfa0 */

$color1: #616163; //rgba(97, 97, 99, 100)
$color2: #44ffd2; //rgba(68, 255, 210, 100)
$color3: #87f6ff; //rgba(135, 246, 255, 100)
$color4: #daf5ff; //rgba(218, 245, 255, 100)
$color5: #ffbfa0; //rgba(255, 191, 160, 100)

h2 {
  margin-top: 10px;
  color: white;
}

h3 {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  background-color: $color1;
  color: white;
  border-radius: 5px;
  margin-top: 0px;
  padding: 5px;
}

h3:hover {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  background-color: #eeeeee;
  color: $color1;
}

span {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  border-radius: 0px;
  border: 0px;
  font-family: 'Poiret One', cursive;
  background-color: $color1;
}

.col-md-2 {
  text-align: center;
}
