<!DOCTYPE html>
<html>
<head>
  <title>PersonalSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>
        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
        Turntable
      </h2>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
<end>

</body>
</html>
